@charset 'utf-8';

body {
  background: #ddd;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.stage {
  margin: 0 auto;
  width: 500px;
  height: 260px;
  overflow: hidden;
}

#cards {
  width: 1500px;
  height: 260px;
  transition: 0.8s;
}

.card {
  width: 450px;
  height: 210px;
  padding: 25px;
  background: #fff;
  float: left;
  border-radius: 10px;
}

.card + .card {
  margin-left: 500px;
}

#cards.move {
  transform: translate(-1000px, 0);
}

.left-side {
  width: 160px;
  float: left;
  border-radius: 10px;
  background-size: cover;
}

.left-side img {
  border-radius: 10px;
}

.right-side {
  width: 260px;
  float: right;
  text-align: center;
}

.right-side h1 {
  margin: 10px 0;
}

.card input {
  width: 230px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  width: 200px;
  height: 45px;
  background: #35ac64;
  box-shadow: 0 5px 0 green;
  color: #fff;
  line-height: 45px;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
}

#tweet {
  margin-bottom: 20px;
  background: #1da1f2;
  box-shadow: 0 5px 0 #006dbf;
}

#result_name,
#result_msg,
#result_job,
#result_type {
  font-weight: bold;
}

#retry {
  text-decoration: underline;
  cursor: pointer;
}

.bg-fire {
  background-image: url(../img/bg-fire.gif);
}
.bg-water {
  background-image: url(../img/bg-water.gif);
}
.bg-thunder {
  background-image: url(../img/bg-thunder.gif);
}